CMakeUserPresets.json
compile_commands.json
build[s]
# ignore dot files/directories
.*
!.gitignore
!.clang-format
!.devcontainer

*.autosave
*.pyc
*.user
*~
Thumbs.db
tags
tegra/
bin/
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
*/debug
*.suo
*.log
*.tlog
build
node_modules
CMakeSettings.json
xcuserdata/
